* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}


/* .px {
  background-color: lightblue;
  margin-bottom: 20px;
  width: 200px;
}

.perc {
  background-color: lightcoral;
  margin-bottom: 20px;
  width: 20%;
} */

section {
  margin: 20px 0;
}

p {
  font-size: 1rem;
}


/* h2 {
  font-size: 3.5em;
} */

h2.section-title {
  font-size: 3.5rem;
}


.font-size-lg {
  font-size: 20px;
}

h1,
h2,
h3 {
  margin-bottom: 1em;
}

h1 {
  background-color: lightblue;
  font-size: 2rem;
  /* margin-bottom: 2rem; */
}

h2 {
  background-color: lightgreen;
  font-size: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

h3 {
  background-color: lightcoral;
  font-size: 1rem;
  /* margin-bottom: 1rem; */
}